@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:0px solid silver;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
.review-margin {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.review-title {
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: .625rem;
  margin-top: .625rem;
  color: var(--review-culture-place-name);
}

.review-body {
  font-size: 0.8rem;
  height: 10.25rem;
  color: var(--date-color);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  color: #999;
  line-height: 1rem;
  letter-spacing: 0.1px;
}
body {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}
h1, h2, h3 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
}

h4, h5 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h5 {
  font-size: 0.9rem;
  line-height: 2.8rem;
}

ul {
  list-style: none;
}

button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

button:hover {
  color: white;
  background: black;
}


/*start*/

.pro {
  width: 1200px;
  margin: 0 auto;
  padding: 15rem 0;
padding-bottom:0;
  display: flex;
  justify-content: space-between;
  color: #444;
  font-family: 'Noto Sans KR', sans-serif;
}
.pro h2{
display: inline
}
.pro h3 {
  color: #666;
}

.pro> :nth-child(2) {
  padding-left: 4rem;
}
.jjim{
  display: inline;
  margin-left: 10px;

}
.jjim img{
  width: 25px;
  display: inline;
  margin-right: 10px;
  opacity: 0.7;
    transform: translateY(-7px);
    transition: 0.8s;
    cursor: pointer;

}
.jjim img:hover{
  opacity: 1;
  transition: 0.8s;
}
.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.product-info {
  width: 100%;
}

.coop{
display: inline;
  border: 1px solid #666;
  padding:5px 10px;
  opacity: 0.6;
  transition: 0.8s;
  cursor: pointer;
position: absolute;
right: 0;

 }
 .coop:hover{
   opacity: 1;
   transition: 0.8s;
 }
.coop img{
  width: 10px;
  margin-right: 10px;

}
.reviews-counter {
  font-size: 13px;
}

.reviews-counter span {
  vertical-align: -27px;
  margin-left: 10px;
}

.rate {
  float: left;
  padding: 0 10px 0 0;
  padding: 20px 0;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 23px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
  margin-bottom: 0;
  line-height: 21px;
}

.rate:not(:checked)>label:before {
  content: '\2605';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}

.product-price-discount {
  font-size: 30px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
  font-weight: bold;

  position: relative;

}

.product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #aaa;
  position: absolute;
  left: 80px;
  top:0;
}
.pay{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}
.all-price{
  margin-top: 2rem;
  text-align: right;
  color: #c80a1e;
  font-size: 2.3rem;

}

.salenum{
  color: #c80a1e;
  font-weight: bold;
  font-size: 4rem;
  display: inline;
  margin-right: 20px;
}
.salenum small{
  color: #c80a1e;
  font-weight: bold;
}
.tag{
display: flex;
margin-top: 4rem;
}
.tag h4{
  margin-right: 10px;
  color: #999;
  cursor: pointer;
  transition: 0.8s;
  font-size:1.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 10px;
}
.pro p {
  padding: 2rem 0;
  line-height: 3rem;
  border-top: 1px solid #ccc;
  font-size: 1.7rem;
  border-bottom: 1px solid #ccc;
  margin: 2rem 0;
}

.product-dtl .form-control {
  font-size: 15px;

}

.product-dtl label {
  line-height: 16px;
  font-size: 15px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.product-count {
  margin-top: 15px;
}

.product-count .qtyminus,
.product-count .qtyplus {
  width: 38px;
  height: 38px;
  background: #444;
  text-align: center;
  font-size: 19px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;

}

.product-count input {
  border: 1px solid #999;
  height: 38px;
}

.product-count .qtyminus {
  border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
  border-radius: 0 3px 3px 0;
}

.product-count .qty {
  width: 60px;
  text-align: center;
}

.round-black-btn {
width: 100%;
  background: #c80a1e;
  color: white;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.5s ease-in-out 0s;
  margin-right: 10px;
}

.round-black-btn:hover,
.round-black-btn:focus {
background: red;
  color: white;
  text-decoration: none;
}

.round-black-btn2 {
width: 100%;
  background: #444;
  color: white;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.5s ease-in-out 0s;
}

.round-black-btn2:hover,
.round-black-btn2:focus {
  background: #666;
  color: white;
  text-decoration: none;
}

select {
  width: 100%;
  border: 1px solid #666;
  padding: .8em .5em;
  background: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-down-512.png') no-repeat;
  border-radius: 0px;
  background-position:97% 50%;
  background-size: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0.6;
  cursor: pointer;

}
select:focus{
  border : 1px solid #000;
}
.selectioncss{
  margin-right: 20px;
display:inline;
}
.items{
  display: inline;
}

.items{padding: 16px 0;}

.item{padding: 16px 0 16px 10px; border-bottom: 1px solid #e6e6e6; position: relative;
display: flex;}
.item:after{display: block;content: '';clear: both;}
.item a{ background: #fff; border: 1px solid #d8d8d8;box-sizing: border-box; width: 30px; height: 30px;
  color: #444; font-size: 2rem;}
.items .item-close{
  width: 30px;
  height: 30px;
  margin-top: 0;
  background: none;
  font-size: 1.4rem;
  color: #444;
  padding-top: 6px;
  border: none;
  text-decoration: inherit;
  font-weight: lighter;
}
.items .item-close a:hover{
  text-decoration: none;
  color: #c80a1e;
}
.item .item-name{font-size: 16px; font-weight: 300;width:200px;}
.item .item-name+span{display: inline-flex; margin-left: 13%;}

.item .item-name+span a{padding-top: 0px; text-align: center; color: #444;}
.item .item-name+span a:hover{
  text-decoration: none;
}
 input[type="number"]{margin: 0 -1px;padding-top: 4px;width: 40px; text-align: right;
background: #fff;border: 1px solid #d8d8d8;}
.item-price{font-weight: bold; font-size: 18px; margin-left: 5%;
}
.item-price+a{float:right; text-align: center; width: 18px; height: 18px; margin: 5px 10px 0 0; font-weight: bold; padding-bottom: 18px;
}



.selectioncss h4{
  margin-right: 10px;
}

.product {
  width: 600px;
  max-width: 800px;
  height: 650px;
}

.view {
  width: 600px;
  height: 100%;
  background-size: cover;
  background-position: center;
/*   background-image: url('https://cdn.clien.net/web/api/file/F01/6347629/2e079808c52cec.jpg?w=780&h=30000&gif=true&thumb=true');
 */  background-clip: content-box;
  transition: all .2s ease-in-out;
}

.parent {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.parent .fa {
  position: absolute;
  top: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.8s;
}

.parent .fa:hover {
  color: #c80a1e;;
  transition: 0.8s;
}

.parent .fa-angle-left {
  left: 5px;
  /*     display: none */
}

.parent .fa-angle-right {
  right: 5px;
}

.parent .slider {
  width: 100%;
  height: 120px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.parent .slider ul {
  width: calc((20%) * 5);
  height: 100%;
  list-style: none;
}

.parent .slider ul li {
  width: calc(100% / 5);
  height: 100%;
  display: contents;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  float: left;
  cursor: pointer;
  border: 5px solid transparent;
  border-top: 10px solid transparent;
}

.parent .slider ul li:nth-child(1) {
  border-left: none;
}

.parent .slider ul li:last-child {
  border-right: none;
}

.parent .slider ul li:first-of-type {
  background-image: url('http://www.bhc.co.kr/upload/bhc/menu/%EB%BF%8C%EB%A7%81%ED%81%B4_410x271.png');
}

.parent .slider ul li:nth-of-type(2) {
  background-image: url('https://cdn.clien.net/web/api/file/F01/6347629/2e079808c52cec.jpg?w=780&h=30000&gif=true&thumb=true');
}

.parent .slider ul li:nth-of-type(3) {
  background-image: url('https://w.namu.la/s/c4b8eb1c9ea25c0e252b81e3aab503097fdd7a7ae00acdba6f86da4e46ad5e3629335e1022104c01db12954074159679a427e9d4f2e0519db064e4203dec3dc017428aea30d5065a2ba2ccd7ccf4af676883e2f50baf1bc22833f756d839359c');
}

.parent .slider ul li:nth-of-type(4) {
  background-image: url('https://www.iloom.com/upload/productColor/20190607/S600_1b05b746-5d77-417e-9714-07615cb81816.jpg');
}

.parent .slider ul li:nth-of-type(5) {
  background-image: url('https://www.iloom.com/upload/productColor/20190607/S600_42d0538a-6f34-42f0-a2de-9d708586e3fe.jpg');
}

/* ν—¤λ”ν‘Έν„° */
.header {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin: 0 4.625rem;
  padding: 0.625rem 0;
}

.to-place {
  color: var(--brand-name);
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
}

.profile{
  border-radius: 50%;
  border: solid .3px var(--border-color);
  background-color: #fff;
}

.icon-container{
  display: flex;
  align-items: center;
  gap: .25rem;
}

.footer{

    padding: 0.875rem 4.625rem;
    background-color: var(--footer-color);
}

.footer-text{
  color: #fff;
  font-size: 0.625rem;
}

@media (width < 1100px) {
  .header{
    margin: 0 2rem;
  }
  .footer{
    padding: 0.875rem 2rem;
  } 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --footer-color : #495058;
  --culture-page-btn : #F05542;
  --subheading-btn-bottom : #F05542;
  --review-culture-place-name: #F05542;
  --comment-number-color : #F05542;
  --table-header : #f38375;
  --information-page-btn : #f38375;
  --brand-name : #FC506E;
  --border-color : #d9d9d9;
  --date-color : #8e8e8e;
  --input-background: rgba(123, 123, 123, 0.05);
}

.sub-heading{
  border-bottom: solid 0.313rem var(--subheading-btn-bottom);
  font-size: 1.125rem;
  font-weight: bold;
}

.culture-sub-heading{
  font-size: 1.25rem;
  font-weight: bold;
}

.culture-btn {
  background-color: var(--culture-page-btn);
  border-radius: 5px;
  width: 3.563rem;
  height: 1.25rem;
  padding: 0.25rem 0.625rem;
  font-size: 0.625rem;
  color: #fff;
  font-weight: 500;
  border: none;
}

.back-btn-gathering {
  width: 30.813rem;
}









