.blank {
    height: 50px;

}

.passticket {
	width: 70%;
	justify-content: center;
	margin: auto;
	border-radius: 5px;
	box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);

}

.flightinfo {
	background-color: blue;
}

.pageNm {
	width: 50%;
	margin: auto;
	justify-content: center;
	display: flex;
	gap: 10px;
	margin-bottom: 10px
}



/* ***************************************  내 MAIN CSS  ************************************************* */
/* /* 출발, 도착 공항 감싸기 */
.dest-airport {
  z-index: 1;
  background-color: white;
  width: 400px;
  height: 130px;
  margin-right: 30px;


}

출발, 도착 공항
.final-airport {
  background-color: white;
  width: 140px;
  height: 110px;
  float: left;
  margin: 10px;

}
.final-airport2 {
  background-color: white;
  width: 140px;
  height: 110px;
  float: right;
  margin: 10px;
}

.datebutton {
  border-radius: 5px;
  background-color: #f3efef;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: rgb(100, 100, 100);
  width: 30%
}


.eng-airportdiv {
  color: #393939;
  text-align: center;
}

.eng-airportname {
  background-color: rgb(254, 254, 254);
  width: 78px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px ;
}

.kor-airportdiv {
  color: #393939;
  text-align: center;
}

.mainbackground { 
  background-color: #f38375;
  height: 450px;
  padding-top: 140px;
  z-index: 2;
}

.top {
  background-color: #f38375;
}

.container {
  position: relative;
  height: 75vh;
}

.intro {
  justify-content : center;
  vertical-align: middle;

}

.intromessage {
  color: white;
  text-align: center;
  width: 500px;
  margin: auto;

} */

.cloud-1 {
  width: 300px;
  height: 300px;
  /* background-color: black; */

}

body{
    font-family: Jockey one;
    background-color: #2C3335;
    color:red;
  }
  
  .container-fluid{
     padding: 0px;
  }
  
  h1{
    font-size: 50px;
  }
  
  /* .flightList{
    background-color: #ffffff;
    padding: 20px;
    border-radius:8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */
  
  h3{
    padding:15px;
    padding-bottom: 25px;
    font-size: 35px;
  }
  
  .flightHeader{
    background:#ffffff;
    padding: 10px;
    border-radius:12px;
    color:#f38375;
    /* width: 80% */
  }

  /* 항공권 리스트 */
  .flightsMain{
    padding-top: 25px;
    color:rgb(84, 84, 84);
  }
  
  .flight{
    padding:5px;
    margin: 10px;
    border-color: #98A0A2;
  }
  
  flight:hover{
    opacity: 0.6;
  }
  
  .flight {
    transition: .5s;
    opacity: 1;
    border-radius:5px;
  }

   .flight:hover {
    background-color: #f38375;
    color:white;
    transform:scale(1.1);
    padding:20px;
   }
  
  .inputs{
    background-color: #474D4F;
    padding: 20px;
    border-radius:12px;
    color:#EEF2F2;
    font-size: 20px;
    letter-spacing: 0.3px;
  }
  
 input{
    border-radius:10px;
    border:2px;
    margin:2px;
  }


  .flightcopy {
  transition: .5s;
  opacity: 1;
    border:1px;
    border-style:solid;
    border-radius:20px;
      border-color: #98A0A2;
    padding:15px;
  }

  .inputs{
    margin-top:30px;
  }


  .booking-submit {
    display: inline-block;
    padding-block: 0.7em;
    padding-inline: 2.5em;
    line-height: 1;
    background-color: #EF6351;
    border: 2px solid #EF6351;
    border-radius: 0.25em;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    justify-content: center;
  }
  @media (max-width: 1600px) {
    .booking-input button {
      padding-inline: 1.5em;
    }
  }
  
  .select {
    float: right;
    width: 10%;
    border-radius: 1px;
    border-style: hidden;
    
  }
  
.air-container {
   display : flex;
   justify-content: center;
   text-align:center;
   /* gap: 2rem; */
}  
  
 .allFlights {
   display : flex;
   flex-direction: column;
 }
 
 input:focus {outline: none;}
 input[type=submit] {
/*     display: none; */
/*      background-color: #f38375; */ 
 }
 
 /* .flightStyle {
 	text-align:center;
 	background: transparent;
 } */
 
