.booking {
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
    /* width: 1000px; */
    width: 25vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: sticky;
}

.airport-wrap {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 50%;
}

.airport {
    margin-right: 10px;
    margin-left: 15px;
    float: left;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-self: center;
    padding-top: 3px;
}

.airport h2 {
    color: #495058;
}


.airport h3 {
  color: #495058;
}

.date {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    float: right;
}

.date span {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.passnum {
  background-color: #55AF3A;
}

/* ***************************************************************************************************************************************** */
/* Search Form */
* {
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
  }
  
  #search-form {
    margin-top: 200px;
    border: 1px solid rgb(255, 255, 255);
    width: 700px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px 10px 10px;
  }
  
  #header {
    height: 80px;
    background: #f38375;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }
  #header h1 {
    color: #FFF;
    margin-left: 20px;
    font-size: 1.3em
  }
  
  .flight {
    padding: 20px;
  }
  .flight input, select {
      color: #6B6A6A;
  }
  
  .info-box {
    padding: 10px 0;
    margin-top: 20px;
    flex: 1;
    border-right: 20px solid transparent;
  }

  .info-box-submit {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    flex: 1;
    border-right: 20px solid transparent;
    text-align: center;
  }

  .gender-box {
    margin-top: 20px;
    display: flex;
    border-right: 20px solid transparent;
    width: 52%;
  }

  .gender-box label {
    margin-right: 50px;
    width: 40%;
    justify-content: center;
    text-align: center;

  }
  /* .gender-box-label {
    margin-right: 100px;
    color: #6B6A6A;
    width: 10%;
    background-color: rgb(245, 181, 97);
  } */

  .same {
    float: right;
  }

  .info-box label {
    display: block;
    color: #6B6A6A;
    font-size: .9em;
  }
  .info-box input[type=text], input[type=submit], select {
    border: none;
    outline: none;
    background: #E2E0E0;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
  }
  
  #flight-type {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px dotted silver;
  }
  #flight-type .info-box {
    flex: 0 1 25%;
    display:flex;
    align-items: center;
  }
  
  #flight-depart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted silver;
  }
  #flight-depart .info-box {
    position: relative;
  }
  #depart-res, #arrive-res {
    position: absolute;
    background: #FFFFFF;
  }
  #depart-res p, #arrive-res p {
    padding: 7px 2px;
    border-bottom: 1px dotted silver;
  }
  #depart-res p:hover, #arrive-res p:hover {
    background: #EDEDED;
    cursor: pointer;
  }
  
  #flight-dates {
    display: flex;
    border-bottom: 1px dotted silver;
  }
  
  #flight-info {
    /* display: flex; */
    border-bottom: 1px dotted silver;
  }
  
  #flight-search .info-box {
    display: flex;
    justify-content: center;
  }
  #flight-search input[type=submit] {
    background: #f05542;
    width: 20%;
    color: white;
    padding: 0;
    height: 50px;
    font-size: 1.2em;
  }
    
.allFlights {
   display : flex;
   flex-direction: column;
 }